  h1 {font-family:sans-serif; font-size: 36px; margin: 30px;}
  h2{font-family:sans-serif; font-size: 24px; text-align: center;}
  p{font-family:sans-serif; font-size: 18px; margin: 30px;}
  caption{font-family:sans-serif; font-size: 14px; margin: 30px;}
img {margin: 30px;}
a {color: azure}